.tradition-image {
  width: 200px;
}

.tradition-image-wrap {
  border: 1px solid var(--box-border-color);
  border-radius: 2px;
  padding: 20px;
}

.tradition-image {
  width: 100%;
  transition: transform 0.3s ease-in-out;
  /* height: 200px; */
  object-fit: cover;
}

.tradition-image:hover {
  transform: scale(1.1);
}
